:root{
    --primary-color-black-green: #143C3C;
    --primary-color-black: #152427;
    --text-color-black-gray: #575D5E;
    --text-color-light-gray: #7D8188;
    --secondary-color-light-green: #E2EDDF;
    --secondary-color-gray: #6A8383;
    --secondary-color-blue: #83A17D;
    --font-family-public-sans: "Public Sans", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-family-poppins);
    color: var(--primary-color-black);
}

/* Common */
a{
    text-decoration: none;
}

.container{
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn{
    --height: 57px;
    
    display: inline-block;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 40px;
    background: var(--primary-color-black-green);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.label{
    position: relative;
    display: inline-block;
    padding-left: 46px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13; /* 112.5% */
}

.label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;  
    transform: translateY(-50%);
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: currentColor;
}

.section-heading{
    font-size: 42px;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.decoration{
    position: absolute;
    z-index: 1;
}

/* Header Top */
.header{
    padding: 28px 0 88px;
    font-family: var(--font-family-public-sans);
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
}

.navbar{
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list{
    display: flex;
}

.navbar__link{
    padding: 4px 19px;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.navbar__link:hover,
.active{
    position: relative;
    color: #152427;
}

.navbar__link.active::before{
    content: '';
    position: absolute;
    left: 19px;
    bottom: -28px;
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.line{
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

/* Hero */
.hero{
    display: flex;
    margin-top: 60px;
}

.hero__content{
    width: 35%;
    padding-top: 43px;
}

.hero__heading{
    max-width: 368px;
    color: #152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__subtitle{
    margin-top: 20px;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero__action{
    display: flex;
    column-gap: 36px;
    margin-top: 42px;
}

.hero__watch{
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.circle-play{
    position: relative;
    
   	display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 59px;
    border-radius: 50%;
    
    border-width: 4px;
    border-style: solid;
    border-color: #143C3C transparent transparent #143C3C;
    rotate: -45deg;
}

.circle-play::before{
    position: absolute;
    content: '';
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: var(--secondary-color-blue);
    z-index: -1;
}

.circle-play svg{
    rotate: 45deg;
}

.hero__watch-text{
    color: #152427;
    font-family: var(--font-family-poppins);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero__media{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: 57%;
    margin-left: 76px;
}

.hero__media::before{
    position: absolute;
    top: 122px;
    left: 156px;
    content: '';
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4DBB9A;
    filter: blur(137px);
    z-index: -1;
}

.hero__img{
    display: inline-block;
    width: 100%;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    object-position: right;
}

.hero__img:nth-child(2){
    margin-top: 77px;
}

/* Decoration */
.hero__flower-top{
    top: 134.61px;
    left: 384.61px;
    z-index: 2;
}

.hero__line-top{
    top: 126.93px;
    left: 427px;
}

.hero__flower-bottom{
    top: 660.06px;
    right: 164.12px;
    left: 1157.45px;
    transform: rotate(-174.659deg);
}   

.hero__line-bottom{
    top: 401px;
    left: 641px;
    transform: rotate(175.95deg);
}

/* Client */
.client{
    margin-top: 42px;
    font-family: var(--poppins-font);
    color: var(--primary-color-black-green);
}

.client__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 201px;
    background: var(--secondary-color-light-green);
    border-radius: 100.5px;
    padding: 0 121px;
}

.client__item{
    display: flex;
    align-items: center;
    color: var(--primary-color-black-green);
}

.client__item:nth-child(1){
    font-size: 31px;
    font-weight: 500;
}

.client__item:nth-child(2){
    font-size: 32px;
    font-weight: 600;
}

.client__item:nth-child(2) .client__icon{
    display: inline-block;
    margin-right: 3px;
}

.client__item:nth-child(3){
    font-size: 26px;
    font-weight: 400;
}

.client__item:nth-child(3) .client__icon{
    display: inline-block;
    margin-right: 14px;
}

.client__item:nth-child(4){
    font-family: "Sonsie One", sans-serif;
    font-size: 23px;
}

.client__item:nth-child(5){
    font-size: 19px;
    font-weight: 600;
}

.client__item:nth-child(5) .client__icon{
    display: inline-block;
    margin-right: 10px;
}

/* Services */
.services{
    margin-top: 50px;
    padding: 50px 0;
}

.services__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__heading{
    max-width: 520px;
}

.after{
    color: var(--primary-color-black);
}

.after::after{
    content: '';
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: currentColor;
    vertical-align: middle;
    margin-left: 20px;
}

.services__control{
    display: flex;
    column-gap: 17px;
}

.services__control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--secondary-color-light-green);
    border: 1px solid transparent;
}

.services__control-btn:nth-child(2){
    rotate: 180deg;
}

.services__control-btn:hover{
    color: #FFFFFF;
    background: var(--primary-color-black);
    cursor: pointer;
}

.services__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services-item{
    border-radius: 20px;
    background: #FFFFFF;
    transition: .25s;
}

.services-item:hover{
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item__img{
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services-item__info{
    padding: 24px 18px 23px;
}

.services-item__heading{
    font-size: 22px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.services-item__desc{
    margin-top: 18px;
    padding-right: 66px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* About Us */
.about-us{
    margin-top: 50px;
    padding: 50px 0;
}

.about-us__inner{
    display: flex;
    justify-content: space-between;
}

.about-us__media{
    position: relative;
    width: 52%;
}

.about-us__images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21px;
}

.about-us__img{
    display: inline-block;
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-us__img:first-child{
    margin-top: 77px;
}

.about-us__content{
    width: 43%;
}

.about-us__desc{
    color: var(--text-color-light-gray);
    margin-top: 11px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.about-us__stat{
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary-color-blue);
}

.about-us__stat-value{
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about-us__stat-desc{
    color: var(--text-color-light-gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

/* Card */
.card{
    position: absolute;
    bottom: 8px;
    right: -9px;
    font-family: var(--font-family-public-sans);
    font-size: 1rem;
    padding: 19px 23px 11px 23px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
}

.card__title{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.card__subtitle{
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.card__progress{
    margin-top: 10px;
}

.card__progress-value,
.card__progress-loading,
.card__label{
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.card__progress-bar{
    margin-top: 3px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.card__progress-fill{
    width: 42%;
    height: 100%;
    border-radius: 10px;
    background: var(--secondary-color-blue);
}

.card__progress-loading{
    display: block;
    margin-top: 3px;
    text-align: right;
}

.card__status-indicator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #EAEAEA;
}

.card__status-inner{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary-color-black-green);
}

.card__row{
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__avatars{
    display: flex;
}

.card__avatar{
    margin-left: -6px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #FFF;
}

.about-us__flower{
    top: -31px;
    left: 46px;
    transform: rotate(176.985deg);
    z-index: 2;
}

.about-us__line{
    width: 541.69px;
    height: 360.639px;
    left: 52.23px;
    top: 25.89px;
    transform: rotate(12.645deg);
}

/* Process */
.process{
    margin-top: 80px;
    padding-top: 36px;
}

.process__heading{
    max-width: 486px;
}

.process__steps{
    margin-top: 81px;
}

.process__step-inner{
    display: flex;
    align-items: center;
    padding: 46px 41px 0 20px;
}

.process__step:nth-child(1){
    position: relative;
    padding-top: 54px;
    padding-bottom: 54px;
    background: var(--secondary-color-light-green);
    border-radius: 33px;
    border: none;
}

.process__step:nth-child(1) .process__step-inner{
    padding: 0 0 0 20px;
}

.process__step:nth-child(1) .process__step-content{
    display: block;
}

.process__step-link{
    display: inline-block;
    margin-top: 22px;
    color: var(--text-color-black-gray);
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.process__step-link:hover{
    opacity: 0.7;
}

.process__step-img{
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process__step-number{
    width: 10%;
    text-align: center;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.7; /* 72.222% */
}

.process__step-content{
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 49px;
}

.process__step-title{
    font-size: 22px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process__step-desc{
    max-width: 572px;
    font-family: var(--font-family-public-sans);
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color-light-gray);
    line-height: 1.56; /* 155.556% */
}

.process__bottom-line{
    margin-top: 25px;
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, var(--secondary-color-blue) 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
}

/* Preview */
.preview{
    position: relative;
    margin-top: 148px;
    padding: 116px 0 63px;
    background-color: var(--primary-color-black-green);
}

.preview__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview__heading{
    width: 40%;
    color: #E7F9F9;
}

.preview__heading::after{
    content: '';
    color: var(--secondary-color-blue);
}

.preview__content{
    width: 50%;
    font-family: var(--font-family-public-sans);
}

.preview__desc{
    color: var(--secondary-color-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.preview__link{
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-top: 13px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.preview__link:hover .preview__link-text{
    text-decoration: underline;
}

.preview__arrow{
    rotate: 180deg;
    color: #80A07B;
}

.preview__video{
    margin-top: 65px;
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.preview__media{
    position: relative;
}

.preview__play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.preview__play-icon{
    color: #FFF;
}

.preview__flower{
    top: 220px;
    right: 80.28px;
    transform: rotate(176.985deg);
}

.preview__line{
    top: 132px;
    right: 80.28px;
}

/* Feature */
.feature{
    margin-top: 70px;
    padding: 70px 0;
    text-align: center;
}

.feature__top{
    max-width: 547px;
    margin: 0 auto;
}

.feature__desc{
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color-light-gray);
    line-height: 1.63; /* 162.5% */
}

.feature__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.feature-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    transform: .25s;
}

.feature-item:hover{
    box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.20);
    transform: translateY(-59px);
    cursor: pointer;
    border-color: #FFF;
}

.feature-item__inner{
    width: 264px;
}

.feature-item__title{
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feature-item__desc{
    color: var(--text-color-light-gray);
    margin-top: 9px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}