:root{
    --primary-color-black-green: #143C3C;
    --primary-color-black: #152427;
    --text-color-black-gray: #575D5E;
    --text-color-light-gray: #7D8188;
    --secondary-color-light-green: #E2EDDF;
    --font-family-public-sans: "Public Sans", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-family-poppins);
    color: var(--primary-color-black);
}

/* Common */
a{
    text-decoration: none;
}

.container{
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn{
    --height: 57px;
    
    display: inline-block;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 40px;
    background: var(--primary-color-black-green);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.label{
    position: relative;
    padding-left: 46px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13; /* 112.5% */
}

.label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;  
    transform: translateY(-50%);
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: currentColor;
}

.section-heading{
    font-size: 42px;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

/* Header Top */
.header{
    padding: 28px 0 88px;
    font-family: var(--font-family-public-sans);
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
}

.navbar{
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list{
    display: flex;
}

.navbar__link{
    padding: 4px 19px;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.navbar__link:hover,
.active{
    position: relative;
    color: #152427;
}

.navbar__link.active::before{
    content: '';
    position: absolute;
    left: 19px;
    bottom: -28px;
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.line{
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

/* Hero */
.hero{
    display: flex;
    margin-top: 60px;
}

.hero__content{
    width: 35%;
    padding-top: 43px;
}

.hero__heading{
    max-width: 368px;
    color: #152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__subtitle{
    margin-top: 20px;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero__action{
    display: flex;
    column-gap: 36px;
    margin-top: 42px;
}

.hero__watch{
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.circle-play{
    position: relative;
    
   	display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 59px;
    border-radius: 50%;
    
    border-width: 4px;
    border-style: solid;
    border-color: #143C3C transparent transparent #143C3C;
    rotate: -45deg;
}

.circle-play::before{
    position: absolute;
    content: '';
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: #83A17D;
    z-index: -1;
}

.circle-play svg{
    rotate: 45deg;
}

.hero__watch-text{
    color: #152427;
    font-family: var(--font-family-poppins);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero__media{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: 57%;
    margin-left: 76px;
}

.hero__media::before{
    position: absolute;
    top: 122px;
    left: 156px;
    content: '';
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4DBB9A;
    filter: blur(137px);
    z-index: -1;
}

.hero__img{
    display: inline-block;
    width: 100%;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    object-position: right;
}

.hero__img:nth-child(2){
    margin-top: 77px;
}

/* Decoration */
.decoration{
    position: absolute;
    z-index: 1;
}

.flower-top{
    top: 134.61px;
    left: 384.61px;
    z-index: 2;
}

.line-top{
    top: 126.93px;
    left: 427px;
}

.flower-bottom{
    top: 660.06px;
    right: 164.12px;
    left: 1157.45px;
    transform: rotate(-174.659deg);
}   

.line-bottom{
    top: 401px;
    left: 641px;
    transform: rotate(175.95deg);
}

/* Client */
.client{
    margin-top: 42px;
    font-family: var(--poppins-font);
    color: var(--primary-color-black-green);
}

.client__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 201px;
    background: var(--secondary-color-light-green);
    border-radius: 100.5px;
    padding: 0 121px;
}

.client__item{
    display: flex;
    align-items: center;
    color: var(--primary-color-black-green);
}

.client__item:nth-child(1){
    font-size: 31px;
    font-weight: 500;
}

.client__item:nth-child(2){
    font-size: 32px;
    font-weight: 600;
}

.client__item:nth-child(2) .client__icon{
    display: inline-block;
    margin-right: 3px;
}

.client__item:nth-child(3){
    font-size: 26px;
    font-weight: 400;
}

.client__item:nth-child(3) .client__icon{
    display: inline-block;
    margin-right: 14px;
}

.client__item:nth-child(4){
    font-family: "Sonsie One", sans-serif;
    font-size: 23px;
}

.client__item:nth-child(5){
    font-size: 19px;
    font-weight: 600;
}

.client__item:nth-child(5) .client__icon{
    display: inline-block;
    margin-right: 10px;
}

/* Services */
.services{
    margin-top: 53px;
    padding: 53px 0;
}

.services__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__heading{
    max-width: 520px;
}

.after::after{
    content: '';
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--primary-color-black);
    vertical-align: middle;
    margin-left: 20px;
}

.services__control{
    display: flex;
    column-gap: 17px;
}

.services__control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--secondary-color-light-green);
    border: 1px solid transparent;
}

.services__control-btn:nth-child(2){
    rotate: 180deg;
}

.services__control-btn:hover{
    color: #FFFFFF;
    background: var(--primary-color-black);
    cursor: pointer;
}

.services__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services-item{
    border-radius: 20px;
    background: #FFFFFF;
    transition: .25s;
}

.services-item:hover{
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item__img{
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services-item__info{
    padding: 24px 18px 23px;
}

.services-item__heading{
    font-size: 22px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.services-item__desc{
    margin-top: 18px;
    padding-right: 66px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

